#panelIzquierdaLogin{
    height: 100%;
    width: 50%;
    background-color: 8361ff;
    display:inline-block;
    position: relative;
}
#panelDerechaLogin{
    height: 100%;
    display:inline-block;
    position: absolute;
    text-align: center;
}
#titulo{
    position: relative;
    text-align: center;
    top:25%;
    font-weight: bold;
    font-size: 80px;
}
#texto{
    position: relative;
    text-align: center;
    top:30%;
    font-size: 20px;
    color: white;
}
#formularioContenedorLogin{
    position: relative;
    text-align: center;
    align-content: center;
    align-items: center;
    left: 250px;
    top: 30%;
}
#formularioLogin{
    border-bottom-style: solid;
    padding-bottom: 20px;
}
#botonLogin{
    margin-top: 20px;
}

/*------------------*/

#panelDerechaSignUp{
    height: 100%;
    width: 50%;
    background-color: 8361ff;
    position: relative;
    float: right;
}
#panelIzquierdaSignUp{
    height: 100%;
    width: 50%;
    display:inline-block;
    position: absolute;
    text-align: center;
}
#formularioContenedorSignUp{
    position: relative;
    text-align: center;
    align-content: center;
    align-items: center;
    left: 250px;
    top: 20%;
}

/*------------------*/

#ejemplo{
    height: 100%;
}